@{
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html>
<form class="form-group" method="post">
    <div>
        <label>Yeni Kullanıcı adınız :</label>
        <input type=" text" class="form-control" name="hastano" />
        <label>Yeni Şifreniz :</label>
        <input type=" text" class="form-control" name="hastaad" />


    </div>
    <div>
        <button class=" btn btn-info"> Kaydet </button>
    </div>

</form>
</html>