@using System.Web.Mvc
@{
    ViewBag.Title = "HomePage";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knight Studios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .background-image {
            background-image: url('https://img.pixers.pics/pho_wat(s3:700/FO/46/65/13/87/700_FO46651387_179a1d8b72c389fee7979b1adf7a3711.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/posterler-siyah-arka-plan.jpg.jpg');
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        h1{
            font-family:Algerian: center;
            color: #0094ff;
            top: 120;
        }
        p {
            font-family: Algerian: center;
            color: #0094ff;
            
        }
        
    </style>
</head>
<body>
    <div class="container">
        <h1 class="display-4 text-center mt-5">Welcome To Cybera</h1>
        <p class="lead text-center mb-5">Personel yönetim bilgi sistemi</p>
        <button class="btn btn-primary btn-lg mx-auto d-block">Kullanmaya Başla</button>
    </div>
    <div class="background-image"></div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>